.app {
  background-color: #F7F7FE;
  padding: 20px;
  height: 100%;
}

.list-input {
  font-size: 16px;
  height: 28px;
  margin: 12px 0;
  padding: 8px;
  width: 440px;
}

.dragging-item {
  border: 1px solid;
  opacity: .5;
}

.item {
  background-color: #FFFFFF;
  border: 1px solid silver;
  border-radius: 3px;
  padding: 10px;
  margin: 12px 0;
}